*{
  margin: 0;

}


body{
  background-image: url("Images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

header{

  
}

.mainheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(187, 187, 187, .5);
  padding: 10px;
}

.sitename{
  font-size: 20px;



  
}

.menubutton{
  width: 20px;
}

