*{
  margin: 0;

}


body{
  background-image: url("Images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

header{

}

header h1{
  text-align: center;
  background-color: rgba(187, 187, 187, .5);
  padding: 5px 0 5px 0;

  
}

